{% include header.html %}

<section class="introduction">
    <h1 id="top">Omelette du fromage</h1>
    <h2 id="top" class="no_index">Stageverslag van <span class="line">Guus Groenink</span></h2>
    <a class="arrow down" href="#voorwoord">></a>
</section>

<section class="project voorwoord">
    <article>
        <h2 id="voorwoord">Voorwoord</h2>
        {{ page.voorwoord | markdownify }}
    </article>
</section>

<section class="meta project">
    <nav class="toc">
        <h4>Inhoudsopgave</h4>
        <ul>
            <!-- Dynamically added -->
        </ul>
    </nav>
    <h2 id="metadata">Metadata</h2>
    <p>
        <strong>Opleiding</strong>
        <span>Communicatie, Multimedia & Design, HvA</span>
    </p>
    <p><strong>Naam</strong>
        <span>Guus Groenink</span>
    </p>
    <p><strong>Studentnummer</strong>
        <span>500805855</span>
    </p>
    <p><strong>Begeleider HvA</strong>
        <span>Koop Reynders</span>
    </p>
    <p><strong>Naam Bedrijf</strong>
        <span>Omelette Du Fromage</span>
    </p>
    <p><strong>Functie binnen bedrijf</strong>
        <span>Developer & Designer</span>
    </p>
    <p><strong>Begeleider bedrijf + functie</strong>
        <span>Max van Hoof - Founder</span>
    </p>
    <p><strong>Datum oplevering</strong>
        <span></span>
    </p>
</section>


<section class="project">
    {{ content  }}
</section>

{% assign siteprojects = site.projects | sort: "order"  %}
{% for item in siteprojects %}
    <section class="project">
        <article>
            <h2 id="{{ item.title | slugify }}"><a href="{{ item.url }}">project {{ item.title }}</a></h1>
            <ul class="links">
                {% for i in item.links  %}
                    <li><a target="_blank" href="{{ i.url }}">{{ i.title }}</a></li>
                {% endfor %}
            </ul>
            {% assign anchor = item.title | slugify | prepend: "#" %}
            {{ item.content | replace: "#top", anchor }}
        </article>
    </section>
{% endfor %}


{% assign extras = site.leerdoelen | concat: site.observatieopdrachten %}
{% for item in extras %}
    <section class="project leerdoel">
        <article>
            <h2 id="{{ item.title | slugify }}">{{ item.title }}</h1>
            {{ item.content }}
        </article>
    </section>
{% endfor %}


<!-- 
    
Bij reflectie iets over de merger met TADA
Iets over kantoor verbouwen - dat dat teambuilding gaf 

Wat ging niet goed - vergeten dat ik stage loop 


-->

{% include footer.html %}