{% include header.html %}


<section class="project">
    <article>
        <h1 id="top">{{ page.title }}</h1>
        <a href="/" class="link back">Terug</a>
        <ul class="links">
            {% for item in page.links  %}
                <li><a target="_blank" href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
        <nav class="toc">
            <ul>
                <!-- Dynamically added -->
            </ul>
        </nav>
        {{ content }}
        <a class="link arr before" href="/">Back to home</a>
        <a class="link arr after up" href="#top">Back to top</a>
    </article>
</section>

{% include footer.html %}